<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>CAD97</title>
  {{{head}}}
  <link rel="stylesheet" href="index.css">
</head>
<body>

{{{header}}}

<main>
  <section>
    My name is Christopher Durham, though I usually go by my screen name, <code>CAD97</code>, on the internet.
    I'm a college student at Furman University, pursuing a dual-focus major in Computer Science and Music.
    I like creating things, and this is a central repository where these things end up.
    I've done things from mini webapps to full blown (small) games, and those things I still like end up here.
  </section>
  <div class="cards">
    <section>
      <header>Nafi</header>
      <p>
        Nafi is a statically-typed scripting language I am developing for personal enrichment and use.
        You can see its progress by following <code>@nafi-lang</code> on GitHub.
      </p>
    </section>
    <section>
      <header>Nafi</header>
      <p>
        Nafi is a statically-typed scripting language I am developing for personal enrichment and use.
        You can see its progress by following <code>@nafi-lang</code> on GitHub.
      </p>
    </section>
    <section>
      <header>Nafi</header>
      <p>
        Nafi is a statically-typed scripting language I am developing for personal enrichment and use.
        You can see its progress by following <code>@nafi-lang</code> on GitHub.
      </p>
    </section>
    <section>
      <header>Nafi</header>
      <p>
        Nafi is a statically-typed scripting language I am developing for personal enrichment and use.
        You can see its progress by following <code>@nafi-lang</code> on GitHub.
      </p>
    </section>
    <section>
      <header>Nafi</header>
      <p>
        Nafi is a statically-typed scripting language I am developing for personal enrichment and use.
        You can see its progress by following <code>@nafi-lang</code> on GitHub.
      </p>
    </section>
    <section>
      <header>Nafi</header>
      <p>
        Nafi is a statically-typed scripting language I am developing for personal enrichment and use.
        You can see its progress by following <code>@nafi-lang</code> on GitHub.
      </p>
    </section>
  </div>
</main>

{{{footer}}}

</body>
</html>
