<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Color Test!</title>
  {{{head}}}
</head>
<body>

<main>

  <h1>Color Test</h1>

  <div class="primary">
    <h2>Primary Colors</h2>
    <div class="light">
      <h3>Light</h3>
      <p>{{lipsum}}</p>
    </div>
    <div class="normal">
      <h3>Normal</h3>
      <p>{{lipsum}}</p>
    </div>
    <div class="dark">
      <h3>Dark</h3>
      <p>{{lipsum}}</p>
    </div>
  </div>

  <div class="secondary">
    <h2>Secondary Colors</h2>
    <div class="light">
      <h3>Light</h3>
      <p>{{lipsum}}</p>
    </div>
    <div class="normal">
      <h3>Normal</h3>
      <p>{{lipsum}}</p>
    </div>
    <div class="dark">
      <h3>Dark</h3>
      <p>{{lipsum}}</p>
    </div>
  </div>

  <div class="text">
    <h2>Text Colors</h2>

    <div class="dark">
      <h3>Dark Text (Light Background)</h3>
      <div class="primary">
        <h4>Primary Text</h4>
        <p>{{lipsum}}</p>
      </div>
      <div class="secondary">
        <h4>Secondary Text</h4>
        <p>{{lipsum}}</p>
      </div>
      <div class="disabled">
        <h4>Disabled/Hint Text</h4>
        <p>{{lipsum}}</p>
      </div>
    </div>

    <div class="light">
      <h3>Light Text (Dark Background)</h3>
      <div class="primary">
        <h4>Primary Text</h4>
        <p>{{lipsum}}</p>
      </div>
      <div class="secondary">
        <h4>Secondary Text</h4>
        <p>{{lipsum}}</p>
      </div>
      <div class="disabled">
        <h4>Disabled/Hint Text</h4>
        <p>{{lipsum}}</p>
      </div>
    </div>
  </div>

</main>

</body>
</html>
