<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Color Test!</title>
  {{{head}}}
  {{{katex}}}
</head>
<body>

<main>

  <p>\[ f(z) = \ln (1-e^{\frac{a}{z} + b + az}) \]</p>

</main>

</body>
</html>
