<div class="mdl-layout-spacer"></div>
<footer class="mdl-mini-footer">
    <div class="mdl-mini-footer__left-section">
        <div class="mdl-logo"> Copyright &copy; 2015-2016</div>
        <ul class="mdl-mini-footer__link-list">
            <li><a href="/tech/">Technologies</a></li>
            <li><a href="/contact/">Contact Me</a></li>
            <li><a href="/social/">Social Media</a></li>
        </ul>
    </div>
    <div class="mdl-mini-footer__right-section">
        <ul class="mdl-mini-footer__link-list">
            <li><a href="https://github.com/CAD97/">
                <img alt="GitHub" style="border-width:0" height="32" src="/brands/github-32x32.png"/>
            </a></li>
            <li><a href="https://www.youtube.com/c/cad97">
                <img alt="YouTube" style="border-width:0" height="32" src="/brands/youtube-45x32.png"/>
            </a></li>
            <li><a href="https://twitter.com/CDurham97">
                <img alt="Twitter" style="border-width:0" height="32" src="/brands/twitter-39x32.png"/>
            </a></li>
            <li><a href="http://blog.cad97.com">
                <img alt="Tumblr" style="border-width:0" height="32" src="/brands/tumblr-32.png"/>
            </a></li>
            <li><a href="https://www.linkedin.com/in/christopher-durham-a61825131">
                <img alt="LinkedIn" style="border-width:0" height="32" src="/brands/linkedin-34.png"/>
            </a></li>
            <li><a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">
                <img alt="Creative Commons License" style="border-width:0" height="31"
                     src="https://i.creativecommons.org/l/by-sa/4.0/88x31.png"/>
            </a></li>
        </ul>
    </div>
</footer>