<a class="mdl-navigation__link" href="/">Home</a>
<a class="mdl-navigation__link" href="/code/andens_mountain/">Anden's Mountain</a>
<a class="mdl-navigation__link" href="/code/tower_of_babble/">The Tower of Babble</a>
<a class="mdl-navigation__link" href="http://blog.cad97.com/">Blog</a>