@import "color";

main section {
  padding: 1em;
  margin: 1em;
  box-shadow: 0 5px 10px 0 rgba(0,0,0,0.5);
  line-height: 1.5em;

  header {
    font-size: 1.5em;
  }
}

.cards {
  display: flex;
  flex-flow: row wrap;
  align-items: stretch;

  section {
    margin: 1em;
    flex: 1;
    min-width: 270px;
  }
}
