<!DOCTYPE html>

<html>
<head>
    {{{html-head}}}
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{{mdl-header}}}
    {{{mdl-drawer}}}
    <main class="mdl-layout__content">
        {{{mdl-footer}}}
    </main>
</div>

</body>
</html>
