<!DOCTYPE html>

<html>
<head>
    {{{html-head}}}
</head>
<body>

<div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
    {{{mdl-header}}}
    {{{mdl-drawer}}}

    <main class="mdl-layout__content">
        <div class="mdl-grid">

            <div class="{{cell-large}} mdl-shadow--4dp" id="About">
                <div class="mdl-card__supporting-text">
                    <p>My name is Christopher Durham, though I usually go by my screen name, <code>CAD97</code>, on the
                        internet. I'm a college student at Furman University, studying for a dual major with a B.S. in
                        Computer Science and a B.A. in Music. I like to create things, and this is a central repository
                        where these things end up. I've done things from mini webapps to full blown (small) games using
                        Unity, and those things that turn out good end up here.
                    </p>
                </div>
            </div>

            <div class="{{cell-medium}} mdl-shadow--4dp" id="Anden">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Anden's Mountain</h2></div>
                <div class="mdl-card__supporting-text">
                    <p>Anden's Mountain is a text-based choose-your-own-adventure style game. It's written mostly in
                        Kotlin, and the source is available on GitHub. As it's a data-driven engine, when the game is
                        finished, users will be able to play the story written by my partner on the project, as well as
                        make new adventures to run within the same engine.
                    </p>
                </div>
            </div>

            <div class="{{cell-medium}} mdl-shadow--4dp" id="NAFI">
                <div class="mdl-card__title"><h2 class="mdl-card__title-text">Nobody Asked For It</h2></div>
                <div class="mdl-card__supporting-text">
                    <p><strong>Nobody Asked For It</strong>, or <code>NAFI</code> for short, is a staticly-typed language
                        that I am developing for personal enrichment and use. You can see its progress by following
                        <a href="https://github.com/nafi-lang/"><code>@nafi-lang</code></a> on GitHub. More information
                        will be organized and shared once the project is a little less hectic.
                    </p>
                </div>
            </div>

            <div class="{{cell-medium}} mdl-shadow--4dp" id="Blog">
                <div class="mdl-card__title">
                    <h2 class="mdl-card__title-text">Blog</h2>
                    <div class="mdl-layout-spacer"></div>
                    <a href="http://blog.cad97.com" class="mdl-color-text--grey-400" style="text-decoration: none"><code>=>></code></a>
                </div>
                <div class="mdl-card__supporting-text">
                    <p>It's mostly just me being an idiot. I set up a Tumblr blog and I use it sometimes. Sometimes I
                        talk about what I'm working on, and sometimes (most of the time) I just don't. But hey, it
                        exists, and you can see me talking into the Internet!
                    </p>
                </div>
            </div>

        </div>

        {{{mdl-footer}}}
    </main>
</div>

</body>
</html>
