
main div.mdl-grid {
    max-width: 1024px;
}

.mdl-grid a.mdl-cell {
    text-decoration: unset;
}

.mdl-card__title a {
    text-decoration: unset;
}

.mdl-layout__title a {
    text-decoration: unset;
    color: inherit;
}

.mdl-layout__header {
    margin-bottom: 1em;
}

code {
    font-family: Courier New, Courier, monospace;
}

.mdl-mini-footer {
    padding: 8px 16px;
}

/* sticky footer */

.mdl-layout__content {
    display: -webkit-flex;
    display:         flex;

    -webkit-flex-flow: column nowrap;
            flex-flow: column nowrap;
}

.mdl-layout__content > :not(.mdl-layout-spacer) {
    -webkit-flex: none;
        -ms-flex: none;
            flex: none;
}

/* end sticky footer */
