
main div.mdl-grid {
    max-width: 1024px;
}

.mdl-grid a.mdl-cell {
    text-decoration: unset;
}

.mdl-card__title a {
    text-decoration: unset;
}

code {
    font-family: Courier New, Courier, monospace;
}
